@model EmployeeLogin.Models.EmployeeModel

<h2>Login</h2>
<html>
    <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<form asp-controller="LoginEmployee" asp-action="CheckLogin" method="post">
    <table>
        <tr>
            <td><label asp-for="Name">Username</label></td>
            <td><input asp-for="Name" /></td>
            <td><span asp-validation-for="Name"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Password">Password</label></td>
            <td><input asp-for="Password" /></td>
            <td><span asp-validation-for="Password"></span></td>
        </tr>
        <td>
                <input type="submit" value="Login" class="btn btn-success" /> 
                @*
                <button type="button" class="btn btn-success">Login</button> *@
        </td>
        <td>
            <a asp-controller="Registration" asp-action="AddUser">Signin</a>
        </td>
    </table>
</form>

<span>@ViewBag.message</span>
</body>
</html>