@model EmployeeModelCrud

<h2>Edit Employee</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>


        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>


        <label asp-for="Hobbies"></label>
        <input asp-for="Hobbies" class="form-control" />
        <span asp-validation-for="Hobbies" class="text-danger"></span>


        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>


        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>     

    </div>

    <!-- Add other input fields for City, Address, Hobbies, Gender, Country -->
    <td>
    <input type="submit" value="Update" />
    </td>
    <td>
        <a asp-controller="EmployeeCrud" asp-action="Index">Cancel</a>
    </td>

</form>
