html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.green-submit-button {
    background-color: #00aa00; /* Set your desired green color */
    color: #fff; /* Set the text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove border if not needed */
    border-radius: 5px; /* Add rounded corners if desired */
    cursor: pointer; /* Add a pointer cursor on hover */
}